@import "tailwindcss";

@theme {
  --text-title-lg: 24px;
  --text-title-lg--line-height: 140%;
  --text-title-lg--font-weight: 700;

  --text-title-md: 20px;
  --text-title-md--line-height: 140%;
  --text-title-md--font-weight: 700;

  --text-title-sm: 18px;
  --text-title-sm--line-height: 140%;
  --text-title-sm--font-weight: 700;

  --text-title-xs: 16px;
  --text-title-xs--line-height: 140%;
  --text-title-xs--font-weight: 700;

  --text-body-lg: 20px;
  --text-body-lg--line-height: 160%;
  --text-body-lg--font-weight: 400;

  --text-body-md: 16px;
  --text-body-md--line-height: 160%;
  --text-body-md--font-weight: 400;

  --text-body-sm: 14px;
  --text-body-sm--line-height: 160%;
  --text-body-sm--font-weight: 400;

  --text-button-lg: 18px;
  --text-button-lg--line-height: 160%;
  --text-button-lg--font-weight: 700;

  --text-button-md: 16px;
  --text-button-md--line-height: 160%;
  --text-button-md--font-weight: 700;

  --text-button-sm: 14px;
  --text-button-sm--line-height: 160%;
  --text-button-sm--font-weight: 700;

  --color-gray-100: #f8f9fc;
  --color-gray-200: #e6e8f2;
  --color-gray-300: #d1d6e4;
  --color-gray-400: #8d95af;
  --color-gray-500: #303f73;
  --color-gray-600: #252d4a;
  --color-gray-700: #181c2a;
  --color-gray-800: #0e1116;

  --color-purple-100: #8381d9;
  --color-purple-200: #2a2879;

  --color-green-100: #50b2c0;
  --color-green-200: #255d6a;
  --color-green-300: #0a313c;
}

@utility bg-gradient-vertical {
  background-image: linear-gradient(to bottom, #7fd1cc 0%, #9694f5 100%);
}

@utility bg-gradient-horizontal {
  background-image: linear-gradient(to right, #7fd1cc 0%, #9694f5 100%);
}

@utility text-gradient-vertical {
  background-image: linear-gradient(to bottom, #7fd1cc, #9694f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility text-gradient-horizontal {
  background-image: linear-gradient(to right, #7fd1cc, #9694f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  --background: #0e1116;
  --foreground: #f8f9fc;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f8f9fc;
    --foreground: #0e1116;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Nunito, sans-serif;
}
